/* Main Body */
body {
    background-color: orange;
    font-family: "Protest Riot", sans-serif;
    width: 100vw;
    height: 100vh;
    padding-left: 0.5rem;
}

h1 {
    font-size: x-large;
}

/* Main Quiz container */
.quiz-container {
    box-sizing: border-box;
    width: 92vw;
    max-width: 95%;
    height: 99vh;
    padding-top: 0rem;
    padding: 1rem;
    background-color: beige;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    text-align: center;

}

/* Questions */
#question-text {
    font-size: large;
    padding-top: 2rem;
}

/* The possible answer choices*/
.choices {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

/* Style for the choice buttons*/
.choice {
    font-size: 1em;
    display: block;
    margin: 5px 5px;
    padding: .5em .75em;
    background-color: #81bde4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for the feedback content */
#feedback {
    font-size: larger;
}

/* Style for the Restart Button */
#restart-Btn {
    font-size: 1em;
    position: relative;
    margin: 5px 5px;
    padding: .5em .75em;
    background-color: #81bde4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {

    body {
        padding-left: 2rem;
    }
    h1 {
        font-size: 60px;
        padding-top: 1rem;
    }
    #question-text {
        font-size: 45px;
        padding-top: 2rem;
    }
    .choice {
        font-size: 2em;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    

}